<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit [test] = "defValue"></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a href="#"
      class="list-group-item"
      style="cursor: pointer"
      *ngFor="let ingredient of ingredients">
      {{ingredient.name}} ({{ingredient.amount}})
      </a>
    </ul>
  </div>
</div>
<section>
  <ul *ngIf="users">
    <li *ngFor="let user of users">
      <h3>{{user.email}}</h3>
    </li>
  </ul>
</section>

<div>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <h5 *ngIf="success">Your form is valid</h5>
    <label> Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required"> Your name is required</div>
      </div>
    </label>

    <label> Message:
        <textarea formControlName="message"></textarea>
        <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
          <div *ngIf="messageForm.controls.message.errors.required"> A message is required</div>
        </div>
      </label>

      <input type="submit" value="Send a message" class="cta">
  </form>
  <div *ngIf="submitted" class="results">
    <strong>Name:</strong>
    <span>{{messageForm.controls.name.value}}</span>
  </div>
</div>
