<input type="text" [(ngModel)] = "name" >
<p>{{name}}</p>

<hr>
<div>Next lesson</div>
<button class="btn btn-primary" [disabled]="isButtonDisabled" >Add</button>
<p>The button is disabled: {{isButtonDisabled}}</p>
<p [innerText]="isButtonDisabled"></p>
<hr>
<!-- <input type="text" class="form-control" style="width: fit-content" placeholder="Type some text here" (input)="onMeTyping($event)"> -->
<input type="text" class="form-control" style="width: fit-content" placeholder="Type again" [(ngModel)]="typedText">
<p *ngIf="typedText.length>0; else ifEmpty" [ngClass]="{myText: typedText.length > 0}" [innerText]="showText"></p>

<ng-template #ifEmpty>
  <hr>
  <p [ngStyle]="{color: errorColor, fontSize:'21px'}">
    No typed text
  </p>
</ng-template>

<button class="btn btn-primary" (click)="onButtonClick()">Show what I just typed</button>

<button class="btn btn-primary" (click)="onShowAllClick()">Show All typed texts</button>
<ul *ngIf="showAll.length > 0">
    <li *ngFor="let text of showAll; let i = index">{{i+1}} element = {{text}}</li>
</ul>
